
{% extends 'App_control/base.html' %}
{% load static %}

{% block content %}

<br>
<br>


    <div class="container">
       <h2 class="text-center text-dark">
           Acerca de Mi
       </h2>
       <br>
       <div class="col">
        <div class="">
             <div class="text-center">
                    <p>Hola que tal! Mi nombre es Francisco Roman Igeniero electrónico y tengo un 10 años de experiencia en el mundo IT/OT</p>
                    <a href="https://github.com/008fire"><i class="bi bi-github text-dark mx-1"></i></a>
                 
            </div>
                    
                
        
        </div>
       </div>
    </div>
  
{% endblock %}